#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:black;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
